/* CSS */

/* VARIABLES ============================== */

  :root {
    --black: #242424;
    --yellow: #FCA60F;
    --brown: #C95E20;
    --gray: rgb(179, 179, 179);
  }

/* GLOBAL ============================== */

  html,
  body {
    overflow-x: hidden;
    height: 100%;

    scroll-behavior: smooth;

    /* background-color: white; */

    font-family: 'Nunito', sans-serif;
    color: var(--black);
  }

  ul {
    padding: 0;

    list-style: none;
  }

  .text-input {
    padding: 0 0.5rem;

    border: 1px solid var(--gray);

    height: 2rem;

    border-radius: 0.15rem;
    /* background-color: var(--gray); */
  }

  .text-area {
    border: 1px solid var(--gray);

    padding: 0.5rem;

    resize: none;

    border-radius: 0.15rem;
    /* background-color: var(--gray); */
  }

  .bttn-input {
    cursor: pointer;

    width: 18rem;
    height: 3rem;

    border: none;
    border-radius: 0.5rem;
    background-color: var(--yellow);

    font-weight: 700;
    color: white;

    transition: 0.3s ease-out;
  }
  .bttn-input:hover {
    transform: scale(1.05);
  }

  .socialMedia-links {
    display: flex;
    gap: 1rem;
  }

  .dot-links {
    margin: 1rem 0;

    display: flex;
    gap: 1rem;
  }
  .dot-links .dot {
    cursor: pointer;

    width: 15px;
    height: 15px;
    
    border-radius: 50%;

    background-color: #bbb;

    transition: background-color 0.5s ease;
  }
  .selected {
    background-color: gray;
  }
  
/* BODY ============================== */
  .body-content {
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
  }

  .container {
    padding: 0 5rem;
  }

  /* Header */
  #header {
    padding: 0 10rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 1px 8px rgba(36, 36, 36, 0.15);
  }

  #header-logo {
    display: flex;
    gap: 0.5rem;
  }

  #header-nav ul {
    display: flex;
    gap: 2rem;

    font-weight: 600;
  }

  #header-nav ul li {
    transition: 0.3s ease-out;
  }
  #header-nav ul li:hover {
    transform: translateY(-3px);
  }

  #header-nav a {
    text-decoration: none;
    color: var(--black);
  }

  /* MAIN */
  #svg-img-1 {
    position: absolute;
    top: 106px;
    left: -155px;
    
    width: 510px;
    height: 500px;

    /* display: flex; */

    transform: rotate(2deg);
    
    z-index: -1;
  }
  #svg-img-1 img {
    width: 100%;
    height: 100%;
  }
  #svg-img-2 {
    position: absolute;

    top: 85px;
    right: -200px;

    width: 510px;
    height: 540px;

    /* display: flex; */

    transform: rotate(2deg);
    
    z-index: -2;
  }
  #svg-img-2 img {
    width: 100%;
    height: 100%;
  }

  /* home section */
  #home-section {
    margin: 0 10rem;
    padding-bottom: 5rem;

    /* 100% do view height menos o tamanho do header */
    height: calc(100vh - 4.9795rem);

    display: flex;
    flex-direction: column;
    /* lembrar de revisar o justify-content */
    justify-content: space-evenly;
  }

  #home-section div:first-of-type {
    display: flex;
    justify-content: space-between;
  }

  #home-section #scroll-down-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    font-weight: 700;
  }

  #scroll-down-div img {
    animation: 3.5s infinite scrollDown;
    animation-timing-function: ease-in-out;
  }
  @keyframes scrollDown {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  #makeYourOrder-div {
    width: 527px;
    height: 336.86px;

    display: flex;
    flex-direction: column;
  }
  #makeYourOrder-div p {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
  }
  
  #makeYourOrder-div .socialMedia-links li {
    transition: 0.3s ease-out;
  }
  #makeYourOrder-div .socialMedia-links li:hover {
    transform: scale(1.1);
  }

  .socialMedia-links .fab {
    font-size: 1.3rem;
    color: var(--brown);
  }

  #coffeeCup-img {
    position: relative;
    top: -17px;

    width: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  #coffeeCup-img img {
    width: 100%;
    /* height: 305px; */
  }

  /* menu section */
  #menu-section {
    margin-bottom: 5rem;

    /* min-width: 700px; */
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
  }

  #menu-section h1 {
    margin: 0 auto 3rem;
    /* margin-bottom: 3rem; */
  }

  #menu {
    max-width: 940px;
    height: 470px;

    overflow: hidden;

    scroll-behavior: smooth;

    /* display: flex;
    flex-direction: column;
    gap: 1.5rem; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, min-content); */
    align-content: center;
    gap: 1.5rem;
  }

  .menu-slide {
    /* display: flex;
    flex-direction: column;
    gap: 1.5rem; */

    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, max-content);
    /* grid-template-rows: repeat(2, min-content); */
    align-content: center;
    gap: 1.5rem;
  }

  #menu figure {
    margin: 0;

    cursor: pointer;

    max-width: 297px;

    display: flex;

    transition: 0.3s ease-out;
  }
  #menu figure:hover {
    opacity: 90%;
  }
  
  #menu img {
    width: 100%;
    height: 100%;

    border-radius: 0.25rem;

    transition: 0.3s ease-out;
  }
  

  /* FOOTER */
  #footer-section {
    height: 100vh;

    min-width: 730px;

    display: flex;
    flex-direction: column;
  }

  /* contact section */
  #contact-section {
    /* margin-bottom: 5rem; */

    height: 50vh;

    display: flex;
    justify-content: center;
    gap: 5rem;
  }

  #contact-section div:first-of-type {
    width: 350px;
    min-width: 223px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #contact-section div:first-of-type p {
    max-width: 350px;
  }

  .contact-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-weight: 600;
  }
  .contact-links li {
    transition: 0.3s ease-out;
  }
  .contact-links li:hover {
    transform: translateX(3px);
  }

  .contact-links .fas {
    width: 20px;

    text-align: center;
  }

  .contact-links a {
    text-decoration: none;
    color: var(--black);
  }

  .contact-card {
    padding: 2rem 1.5rem;

    position: relative;
    
    top: 70px;
    left: 0;

    /* total hight 348px with padding */
    width: 300px;
    height: 330px;
    min-width: 100px;

    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 1px 8px rgba(36, 36, 36, 0.15);

    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: white;

    transition: 0.3s ease-out;
  }
  .contact-card:hover {
    transform: scale(1.01);
  }

  .contact-card span {
    font-weight: 700;
  }

  .contact-card .bttn-input {
    width: auto;
  }

  /* about us section */
  #aboutUs-section {
    height: 50vh;

    display: flex;
    justify-content: center;
    gap: 5rem;

    background-color: #C88D55;

    color: white;
  }

  #aboutUs-section div:first-of-type {
    width: 350px;
    min-width: 223px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #aboutUs-section-h1 {
    color: white;
  }

  #placeholder-div {
    width: 348px;
    /* height: 170px; */
    min-width: 100px;
  }

/* MEDIA QUERIES ============================== */

  /* iPad Air and iPad Mini */
  @media screen and (max-width: 820px) {
    /* header */
    #header {
      padding: 0 5rem;
    }

    /* home section */
    #home-section {
      margin: 0 5rem;
      padding: 0;

      height: calc(50vh - 4.9795rem);
    }

    #makeYourOrder-div {
      width: 460px;
    }

    #makeYourOrder-div p {
      font-size: 1.8rem;
    }

    #home-section #scroll-down-div {
      display: none;
    }

    /* menu section */
    #menu-section {
      margin: 0;

      height: 50vh;

      justify-content: flex-start;

      max-width: 660px;
    }

    #menu-section h1 {
      display: none;
    }

    /* footer section */
    #footer-section {
      height: auto;
    }

    #contact-section {
      padding-top: 1rem;
      padding-bottom: 1rem;

      /* 300px */
      height: 18.75rem;
    }
    #contact-section div:first-of-type {
      width: 240px;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    #aboutUs-section {
      padding-top: 1rem;
      padding-bottom: 1rem;

      /* 250px */
      height: 15.625rem;
    }
    #aboutUs-section div:first-of-type {
      width: 240px;
    }
  }

  /* Surface Pro 7 */
  @media screen and (max-width: 912px) {
    .container {
      padding: 0 6rem;
    }

    /* header */
    #header {
      padding: 0 6rem;
    }

    /* home section */
    #home-section {
      margin: 0 6rem;
      padding: 0;

      height: calc(50vh - 4.9795rem);
    }

    #makeYourOrder-div {
      width: 460px;
    }

    #makeYourOrder-div p {
      font-size: 1.8rem;
    }

    #home-section #scroll-down-div {
      display: none;
    }

    /* menu section */
    #menu-section {
      margin: 0;

      height: 50vh;

      justify-content: flex-start;
    }

    #menu-section h1 {
      display: none;
    }

    /* footer section */
    #footer-section {
      height: auto;
    }

    #contact-section {
      padding-top: 1rem;
      padding-bottom: 1rem;

      /* 300px */
      height: 18.75rem;
    }
    #contact-section div:first-of-type {
      width: 240px;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    #aboutUs-section {
      padding-top: 1rem;
      padding-bottom: 1rem;

      /* 250px */
      height: 15.625rem;
    }
    #aboutUs-section div:first-of-type {
      width: 240px;
    }
  }

  /* Surface Duo */
  @media screen and (max-width: 540px) {
    
  }